# Copyright 2020 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# USBHUBQ7
SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}=="17ef", ENV{ID_MODEL_ID}=="a392", ACTION=="add", \
RUN+="/sbin/initctl emit fwupdtool-update PLUGIN=vli GUID=4ec36768-1858-5e9b-9d35-40e6143c3cd4"

# USBHUBQ8
SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}=="17ef", ENV{ID_MODEL_ID}=="a394", ACTION=="add", \
RUN+="/sbin/initctl emit fwupdtool-update PLUGIN=vli GUID=36a4a5cc-b78b-5419-a2ba-3a692148e9f5"

# Audio
SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}=="17ef", ENV{ID_MODEL_ID}=="a396", ACTION=="add", \
RUN+="/sbin/initctl emit fwupdtool-update PLUGIN=synaptics_cxaudio GUID=dbb8d54c-42e6-5215-b7ac-1df16872bb06"

# Power Delivery
SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}=="04b4", ENV{ID_MODEL_ID}=="521a", ACTION=="add", \
RUN+="/sbin/initctl emit fwupdtool-update PLUGIN=ccgx GUID=5108e726-44a6-5eca-bd1a-fbbdabbe7bc1"

# Multi-Stream Transport Device
SUBSYSTEM=="drm", ACTION=="add", \
RUN+="/sbin/initctl emit fwupdtool-update PLUGIN=synaptics_mst GUID=cf1bdd9f-29bc-5dab-9d14-dad7a4e06d16"
