# Copyright 2022 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

on early-init
    # Advertise opengles version 3.1.
    setprop ro.opengles.version 196609
    setprop ro.hardware.egl angle
    # TODO remove emulateAdvancedBlendEquations after b/234173199 gets fixed
    # TODO remove supportsShaderFramebufferFetch after b/234186318 gets fixed
    setprop debug.angle.feature_overrides_disabled exposeNonConformantExtensionsAndVersions:preferSubmitAtFBOBoundary:emulateAdvancedBlendEquations:supportsShaderFramebufferFetch
    # TODO remove forceContinuousRefreshOnSharedPresent after b/229267970 gets fixed
    # TODO remove perFrameWindowSizeQuery after b/236026298 gets fixed
    setprop debug.angle.feature_overrides_enabled forceContinuousRefreshOnSharedPresent:perFrameWindowSizeQuery:preferLinearFilterForYUV
