# Copyright 2021 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
#
# udev rules to start firmware update on the Dell dock, the script takes
# time to completion therefore don't wait the process finished
#
# 1. Device      : USB\VID_413C&PID_B06E&hub&status
#    GUID (UUID5): 8ceeeffd-51b6-580c-9b75-69143227aff8
#
# 2. Device      : USB\VID_413C&PID_B06E&hub&salomon_mlk_status
#    GUID (UUID5): 7fb217aa-2312-5c99-a853-56d865c76815
#
# 3. Device      : USB\VID_413C&PID_B06E&hub&atomic_status
#    GUID (UUID5): fc7c6f01-9d2a-5bb5-89eb-59542fb93c46
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="413c", ATTRS{idProduct}=="b06f", ACTION=="add", \
RUN+="/sbin/initctl emit -n fwupdtool-update 'PLUGIN=dell_dock thunderbolt' 'GUID=\
7fb217aa-2312-5c99-a853-56d865c76815 \
8ceeeffd-51b6-580c-9b75-69143227aff8 \
fc7c6f01-9d2a-5bb5-89eb-59542fb93c46'"
