# Copyright 2019 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

creat: 1
epoll_wait: 1
epoll_ctl: 1
epoll_create1: 1
getgid: 1
umask: 1
getsockopt: 1
shutdown: 1
rmdir: 1
socketpair: 1
setpriority: 1
recvfrom: 1
ppoll: 1
pipe: 1
inotify_add_watch: 1
inotify_init1: 1
eventfd2: 1
fadvise64: 1
sched_getscheduler: 1
setrlimit: 1
getsid: 1
getpgrp: 1
pipe2: 1
getegid: 1
getpriority: 1
chdir: 1
kill: 1
wait4: 1
getdents64: 1
getppid: 1
alarm: 1
sched_getparam: 1
sched_yield: 1
getrandom: 1
tgkill: 1
prctl: arg0 == PR_SET_SECCOMP || arg0 == PR_SET_NO_NEW_PRIVS || arg0 == PR_SET_NAME
setitimer: 1
getitimer: 1
recvmsg: 1
poll: 1
sendmsg: 1
clock_gettime: 1
nanosleep: 1
futex: 1
rt_sigaction: 1
mmap: 1
rt_sigprocmask: 1
read: 1
close: 1
# ioctl: arg1 == VIDIOC_STREAMON || arg1 == VIDIOC_STREAMOFF
# || arg1 == VIDIOC_QUERYCAP || arg1 == VIDIOC_QUERYCTRL
# || arg1 == VIDIOC_QUERYMENU || arg1 == VIDIOC_G_CTRL
# || arg1 == VIDIOC_S_CTRL
# || arg1 == VIDIOC_REQBUFS || arg1 == VIDIOC_QBUF
# || arg1 == VIDIOC_S_FMT || arg1 == VIDIOC_QUERYBUF
# || arg1 == VIDIOC_DQBUF || arg1 == VIDIOC_S_PARM
# || arg1 == VIDIOC_ENUM_FMT || arg1 == VIDIOC_ENUM_FRAMESIZES
# || arg1 == SNDRV_CTL_IOCTL_PVERSION || arg1 == SNDRV_CTL_IOCTL_PCM_NEXT_DEVICE
# || arg1 == SNDRV_CTL_IOCTL_PCM_INFO || arg1 == SNDRV_CTL_IOCTL_CARD_INFO
# || arg1 == SNDRV_CTL_IOCTL_PCM_PREFER_SUBDEVICE || arg1 == SNDRV_PCM_IOCTL_INFO
# || arg1 == SNDRV_PCM_IOCTL_PVERSION || arg1 == SNDRV_PCM_IOCTL_TTSTAMP
# || arg1 == SNDRV_PCM_IOCTL_HW_REFINE || arg1 == SNDRV_PCM_IOCTL_HW_PARAMS
# || arg1 == SNDRV_PCM_IOCTL_SW_PARAMS || arg1 == SNDRV_PCM_IOCTL_CHANNEL_INFO
# || arg1 == SNDRV_PCM_IOCTL_PREPARE || arg1 == SNDRV_PCM_IOCTL_DROP
# || arg1 == SNDRV_PCM_IOCTL_HW_FREE || arg1 == SNDRV_PCM_IOCTL_START
# || arg1 == SNDRV_PCM_IOCTL_HWSYNC || arg1 == SNDRV_PCM_IOCTL_DELAY
# || arg1 == _IOC(_IOC_READ|_IOC_WRITE, 0xdc, 0x0b, 0x20)
# || arg1 == _IOC(_IOC_WRITE, 0x7f, 0x00, 0x10)
# || arg1 == _IOC(_IOC_WRITE, 0xdc, 0x07, 0x20)
# || arg1 == _IOC(_IOC_WRITE, 0xdc, 0x01, 0x10)
# || arg1 == _IOC(_IOC_WRITE, 0xdc, 0x08, 0x20)
# || arg1 == _IOC(_IOC_WRITE, 0xdc, 0x09, 0x20)
ioctl: arg1 == 0x40045612 || arg1 == 0x40045613 || arg1 == 0x80685600 || arg1 == 0xc0445624 || arg1 == 0xc02c5625 || arg1 == 0xc008561b || arg1 == 0xc008561c || arg1 == 0xc0145608 || arg1 == 0xc058560f || arg1 == 0xc0d05605 || arg1 == 0xc0585609 || arg1 == 0xc0585611 || arg1 == 0xc0cc5616 || arg1 == 0xC0405602 || arg1 == 0xC02C564A || arg1 == 0x80045500 || arg1 == 0x80045530 || arg1 == 0xC1205531 || arg1 == 0x81785501 || arg1 == 0x40045532 || arg1 == 0x81204101 || arg1 == 0x80044100 || arg1 == 0x40044103 || arg1 == 0xC2604110 || arg1 == 0xC2604111 || arg1 == 0xC0884113 || arg1 == 0x80184132 || arg1 == 0x4140 || arg1 == 0x4143 || arg1 == 0x4112 || arg1 == 0x4142 || arg1 == 0x4122 || arg1 == 0x80084121 || arg1 == 0xc020dc0b || arg1 == 0x40107f00 || arg1 == 0x4010dc01 || arg1 == 0x4020dc07 || arg1 == 0x4020dc08 || arg1 == 0x4020dc09
open: 1
fstat: 1
getcpu: 1
fcntl: 1
uname: 1
madvise: 1
mprotect: 1
geteuid: 1
munlock: 1
stat: 1
clone: 1
time: 1
munmap: 1
brk: 1
lseek: 1
sendto: 1
# socket: arg0 == AF_INET6 || arg0 == AF_UNIX || arg0 == AF_INET
# || arg0 == AF_NETLINK
socket: arg0 == 0x1 || arg0 == 0x2 || arg0 == 0xa || arg0 == 0x10
pread64: 1
lstat: 1
write: 1
access: 1
getrlimit: 1
getuid: 1
bind: 1
readlink: 1
connect: 1
getsockname: 1
getdents: 1
setsockopt: 1
openat: 1
getcwd: 1
symlink: 1
gettimeofday: 1
unlink: 1
gettid: 1
restart_syscall: 1
exit: 1
exit_group: 1
rt_sigreturn: 1
clock_getres: 1
getresgid: 1
mkdir: 1
sched_getaffinity: 1
arch_prctl: 1
sigaltstack: 1
set_robust_list: 1
execve: 1
getresuid: 1
set_tid_address: 1
getpid: 1
prlimit64: 1
